 <!-- Headerwrap -->
<div id="headerwrap-2">
    <div class="container">
        <div class="row">
            @*<h1>InsuraTech</h1>*@
        </div>
    </div>
</div>
<!-- /Headerwrap -->
<!-- Call To Action -->
<div id="cta">
    <div class="container centered">
        <h3>Welcome to our new Job Board site.</h3>
        <p>The whole point of this site is to give our employees a comfortable place to come to where they can seek out new careers that may apply to them within the InsuraTech family. If you havent already, please register a new account and get started!</p>
        <br>
        @if (Request.IsAuthenticated && User.IsInRole("Admin") || Request.IsAuthenticated && User.IsInRole("Manager") || Request.IsAuthenticated && User.IsInRole("Employee"))
        {
            <a href="@Url.Action("Index", "OpenPositions")"><button class="btn btn-embossed btn-primary">See Job Openings</button></a>

        }
            <a href="~/Content/Project Documentation.pdf" target="_blank"><button class="btn btn-embossed btn-primary">Project Documentation</button></a>

    </div>
    <!-- /container -->
</div>

