@using Microsoft.AspNet.Identity
@using InsuraTech.DATA.EF
@{ 
    string currentUserID = User.Identity.GetUserId();
    InsuraTechEntities db = new InsuraTechEntities();
    var currentUser = db.UserDetails.Where(x => x.UserId == currentUserID).FirstOrDefault();
    string userName = "";
    if (currentUser != null)
    {
        userName = currentUser.FirstName + " " + currentUser.LastName;
    }

}
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello "  + userName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
